*.code-workspace
.idea
.php-cs-fixer.cache
.php_cs.cache
.phpunit.cache
.phpunit.result.cache
build
composer.lock
coverage
docs
node_modules
phpunit.xml
testbench.yaml
vendor
/.vscode
*.sh
tmp
.DS_Store
